/* You can add global styles to this file, and also import other style files */
body,
p,
h1,
h2 {
  margin: 0;
  font-family: sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #011627;
}
